flask==3.0.3
psycopg2-binary>=2.9.9
redis==5.0.8
minio==7.2.8
kafka-python-ng>=2.2.2
clamd>=1.0.2
prometheus-client>=0.20.0
opentelemetry-sdk>=1.25.0
opentelemetry-exporter-otlp-proto-http>=1.25.0
opentelemetry-instrumentation-flask>=0.46b0
opentelemetry-instrumentation-psycopg2>=0.46b0
opentelemetry-instrumentation-redis>=0.46b0
opentelemetry-instrumentation-urllib3>=0.46b0
